/* This property references the florida/art image in the About page. */
.art {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  width: 40%;
  float: left;
}

/* This is for the paragraph on the About page */
.text {
  /* float: left; */
  margin-right: 30px;
}

/* This property references the image in the contact page. */
.girlCoding {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  width: 50%;
}

/* This property references the image in the resume page. */
.link {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  width: 40%;
  float: left;
}

/* This property references the second container className = skills. This concerns my skills, summary and education */

.background {
  float: right;
  margin-left: 10px;
}

/* This property references how to  contact me  and websites links to learn  more about my work. */
.reachme {
  float: left;
}

/* This property references my experience at my other jobs */
.jobs {
  margin: 7px, 10px;
}

/* This property references the <h3> header discusssing my past work experience */
.experience {
  text-align: left;
}
/* 
This property references my job history and roles at each job 
.info {
 
} 

/* This property references the bullet points in the experience section of the resume */
.li {
  list-style: bullets;
}

/* give the tags specific styling */

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  justify-content: space-between; */
  border-left: 10px;
  border-right: 10px;
}

/* This property refers to the contact info on the homepage */
.home {
  text-align: center;
}
