/* This property references the florida/art image in the About page. */
.art {
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  width: 50%;
  text-align: center;
}

/* This property references the image in the contact page. */
.girlCoding {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  width: 50%;
  text-align: center;
}
